*{

  padding:0;
  margin:0;

}

body {
  font-family: 'helvetica', sans-serif;}

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 54px;
}

.container {

  width: 100vw;
  height: 100vh;
  background: #C70039;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center}

.boxlogin {

  background: white;
  width: 60%;
  height: 60%;
  border-radius: 30px;
  text-align: center;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} 

a {
    text-decoration: none;
    color: #C70039;
}

.logo {

  margin: 30px;
}

.logo img {

  width: 60px;
}

.botao{

  width: 150px;
  background-color:#0f9417;
  border-radius:30px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}

.botao:hover {
  background-color:#5cbf2a;
}
.botao:active {
  position:relative;
  top:1px;
}

input {

  border-radius: 30px;
  border:2px solid #F5F5DC;
  padding: 10px;
  margin: 10px;

}

label {

 color: gray;
}